<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title> Nearest Sightings | Car Crime Reporter </title>
	<style>
		table {
			font-family: arial, sans-serif;
			border-collapse: collapse;
			width: 100%;
		}

		td, th {
			border: 1px solid #dddddd;
			text-align: left;
			padding: 8px;
		}

		tr:nth-child(even) {
			background-color: #dddddd;
		}
	</style>
</head>
<body>
	<table>
  <tr>
    <th>License Number</th>
    <th>Time of Sighting</th>
    <th>Location</th>
	<th>Image</th>
  </tr>
    {% if sightings %}
		{% for sighting in sightings %}
		<tr>
            <td>{{ sighting.license_number }}</td>
			<td>{{ sighting.time }}</td>
			<td>{{ sighting.detector.address }}</td>
			<td> <a href="/images?pk={{sighting.pk}}"> View Image </a> </td>
		</tr>
		{% endfor %}
	{% else %}
		<p>No new sightings.</p>
	{% endif %}
	</table>
</body>
</html>