<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title> Nearest Sightings | Car Crime Reporter </title>
</head>
<body>
    <p>
        {% if sightings %}
            <ul>
                {% for sighting in sightings %}
                    <li><a>{{ sighting.license_number }}</a></li>
                    <li><a>{{ sighting.time }}</a></li>
                    <li><a>{{ sighting.detector.address }}</a></li>
                {% endfor %}
            </ul>
        {% else %}
            <p>No new sightings.</p>
        {% endif %}
    </p>
</body>
</html>