#signup{
			padding: 40px;
			margin-top: 70px;
			margin-left: auto;
			margin-right: auto;
			width: 340px;
			background-color: #fff;
			box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25);
		}

.input {
	width: 75%;
    height: 50px;
    display: block;
    margin: 0 auto 15px;
	padding: 0 15px;
	border: none;
	border-bottom: 2px solid #ebebeb;
		}
		
h1, input {
	font-family: "Open Sans", Helvetica, sans-serif;
    	}
		
		body {
			background-color: lightgray;
		}
		
		.inputButtonsign {
			position: relative;
			width: 85%;
			height: 50px;
			display: block;
			margin: 30px auto 30px;
			color: white;
			background-color:darkslategrey;
			border: none;
			box-shadow: 0 5px 0 black;
		}
		
		.input:focus {
			outline: none;
			border-bottom-color: darkgray !important;
		}
		
		.input:hover {
			border-bottom-color: #dcdcdc;
		}

		.input:invalid {
			box-shadow: none;
		}
		
		.inputButtonsign:hover {
			top: 2px;
			box-shadow: 0 3px 0 black;
		}

 		.inputButtonsign:active {
			top: 5px;
			box-shadow: none;
		}
 
		.inputButtonsign:focus {
			outline: none;
		}

#addNumber{
	width: 30%;
				margin-left: auto;
			margin-right: auto;
}